img {
    width: calc(1400px .75);
    height: calc(1080px * .75);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}